{# templates/admin/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-12">
                <nav class="navbar navbar-light bg-light mb-3">
                    <a class="navbar-brand form-inline">Замовлення</a>

                    <div class="form-inline ">
                        <a href="{{ path('app_new_order') }}" type="button" class="form-control btn btn-primary">
                            Нове замовлення
                        </a>
                    </div>

                </nav>
            </div>

            <div class="col-md-12 col-lg-3">
                {% include '@admin/sidebar.html.twig' %}
            </div>
            <div class="col-md-12 col-lg-9">

                {% include '@admin/flashes.html.twig' %}

                {% if orders %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">І'мя</th>
                                <th scope="col">Email</th>
                                <th scope="col">Оформленно</th>
                                <th scope="col">Статус</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.user.name }}</td>
                                    <td>{{ order.user.email }}</td>
                                    <td>{{ order.date|date("m-d-Y g:ia") }}</td>
                                    <td>{{ order.status }}</td>
                                    <td class="text-right">
                                        <a href="{{ path('app_view_order', {'id': order.id}) }}" class="btn btn-light"><i class="fas fa-eye"></i></a>
                                        {% if is_user_admin %}
                                            <a href="{{ path('app_edit_order', {'id': order.id}) }}" class="btn btn-light"><i class="fas fa-pen"></i></a>
                                            <a onclick="return confirm('Ви впевнені що хочете видалити це замовлення?') ? true : false;" href="{{ path('app_delete_order', {'id': order.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-primary" role="alert">
                        У вас ще немає замовлень.
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}