{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href="/src/fontawesome/css/all.css" rel="stylesheet">
    <link href="/src/css/bootstrap.4.6.0.min.css" rel="stylesheet">
    <link href="/src/css/style.css" rel="stylesheet">

    <script src="/src/js/jquery-3.6.0.min.js"></script>
    <script src="/src/js/papaparse.min.js"></script>
    <script src="/src/js/CatalogHandler.js"></script>
    <script src="/src/js/scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>


    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="navbar navbar-expand-lg mb-4 navbar-light bg-light">
    <nav class="container" style="height: 70px;">
        <a class="navbar-brand" href="/">ХХХХХХ</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="nav navbar-nav navbar-right">

            {% if app.user %}

                {% if is_granted('ROLE_ADMIN')  %}
                    <li><a class="nav-link btn btn-light mx-1" href="{{ path('app_home') }}">Дашборд <i class="fas fa-columns"></i></a></li>
                {% else %}
                    <li><a class="nav-link btn btn-light mx-1" href="{{ path('app_user_profile') }}">Ваш профіль <i class="fas fa-user"></i></a></li>
                {% endif %}
                <li><a class="nav-link btn btn-light mx-1" href="{{ path('app_logout') }}">Вихід <i class="fas fa-sign-out-alt"></i></a></li>
            {% else %}
                <li><a class="nav-link btn btn-light mx-1" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> Логін</a></li>
                <li><a class="nav-link btn btn-light mx-1" href="{{ path('app_forgot_password_request') }}">Відновити пароль</a></li>
                <li><a class="nav-link btn btn-light mx-1" href="{{ path('registration') }}">Реєстрація</a></li>
            {% endif %}

        </ul>
    </nav>
</div>

{% block body %}{% endblock %} {% block javascripts %}{% endblock %}

<footer class="p-4"></footer>

</body>
</html>