{# templates/admin/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-12">
                <nav class="navbar navbar-light bg-light mb-3">
                    <a class="navbar-brand form-inline">Каталоги</a>

                    {% if is_granted('ROLE_ADMIN')  %}

                    {% endif %}

                    {% if is_granted('ROLE_ADMIN')  %}
                      <div class="form-inline ">
                          <a href="{{ path('app_new_catalog') }}" type="button" class="form-control btn btn-primary"><i class="fas fa-plus"></i></a>
                      </div>
                    {% endif %}

                </nav>
            </div>

            <div class="col-md-12 col-lg-3">
                {% include '@admin/sidebar.html.twig' %}
            </div>
            <div class="col-md-12 col-lg-9">

                {% include '@admin/flashes.html.twig' %}

                {% if catalogs %}
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Каталог</th>
                                {% if is_granted('ROLE_ADMIN')  %}
                                    <th scope="col">Завантажень</th>
                                {% endif %}
                                <th scope="col">Завантажено</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for catalog in catalogs %}
                                <tr>
                                    <td>{{ catalog.name }}</td>
                                    {% if is_granted('ROLE_ADMIN')  %}
                                        <td>{{ catalog.downloads }}</td>
                                    {% endif %}
                                    <td>{{ catalog.date|date("m-d-Y g:ia") }}</td>
                                    <td class="text-right">
                                        <a href="{{ path('app_download_catalog', {'id': catalog.id}) }}" class="btn btn-primary"><i class="fas fa-file-download"></i></a>
                                        <a href="{{ path('app_view_catalog', {'id': catalog.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>

                                        {% if is_granted('ROLE_ADMIN')  %}
                                            <a onclick="return confirm('Ви впевнені що хочете видалити каталог {{ catalog.name }}?') ? true : false;" href="{{ path('app_delete_catalog', {'id': catalog.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-primary" role="alert">
                        Каталогів поки що немає. {% if is_granted('ROLE_ADMIN')  %}<a href="{{ path('app_new_catalog') }}">Додати каталог.</a>{% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
